
body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */

/*Header*/
header {
  background-size: cover;
  background-image: url('../assets/img/header.png');
  padding: 50px;
  text-align: center;
}

header img {
  height: 130px;
}

h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 51px;
  letter-spacing: 4px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 65px;
  top: 266px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  background-color: black;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
}

.reverse {
  background-color: #E9D66B;
  color: white;
}

.gif_info {
  display: none;
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 135px;
  font-weight: bold;
  font-size: 47px;
}

.next {
  display: none;
  width: 241px;
  background-color: black;
  color: white ;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

form {
  margin-top: 107px;
}

input.input {
  display: inline-block;
  width: 83%;
  padding: 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: #000000b5;
  height: 1690px;
  width: 100%;
  position: absolute;
  top: 230px;
  z-index: 2;
}

.share_overlay input.input {
  display: block;
}

.video-stream {
  background-size: 6700px;
  background-image: url('http://cognizant.com/content/dam/cognizant_foundation/Dotcomimage/lillypad-mesh.svg');
  background-color: white;
}

#share_alert {
  background-size: 6700px;
  /*background-image: url('http://cognizant.com/content/dam/cognizant_foundation/Dotcomimage/lillypad-mesh.svg');*/
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 1690px;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 4;
}

.qr_message {
  background-color: white;
  background-size: cover;
  position: absolute;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 56px #8080805e;
}

.qr_message img {
  padding: 0 !important;
  height: 141px !important;
  margin-top: 21px !important;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  right: -62px;
}

.qr_message p {
  font-size: 38px;
  color: #010101;
  font-weight: lighter;
  margin-top: 0;
}

#share_alert img {
    width: 100px;
    position: absolute;
    bottom: 140px;
    z-index: 51;
    /*left: 479px;*/
}

.small_img {
  width: 400px;
  height: 216px;
  position: absolute;
  bottom: 170px;
  z-index: 2;
}


.small_check {
  z-index: 2 !important;
  height: 556px !important;
}

.small_check_img {
  width: 150px !important;
}

#share_alert h3, #donation_alert h3 {
  font-size: 60px;
  color: #E9D66B;
  font-weight: normal;
  margin-bottom: 10px;
}

#share_alert p, #donation_alert p {
  color: #E9D66B;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}

#embed {
  width: 1080px;
  position: absolute;
  top: 228px;
  height: 1690px;
}


/* ================  HOME  =================*/
.sponsors {
  background-color: rgba(234, 93, 37, 0.3);
  position: absolute;
  top: 229px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}


.photos {
  background-size: 6700px;
  background-image: url('http://cognizant.com/content/dam/cognizant_foundation/Dotcomimage/lillypad-mesh.svg');
  height: 1690px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

#photos {
  transition: opacity 1s, height .5s;
}

#video {
  /*object-fit: cover;*/
  z-index: 2;
  width: 200px;
  height: 141px;
  position: relative;
  top: -123px;
  left: -102px;
}

.photos img {
  padding: 45px 50px;
  height: 112px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -54px;
}

#choose_picture {
  left: 120px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
}

.event_pics {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
  background-position: -1px -234px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  transition: opacity 1s, height .5s;
}

.event_pic {
  position: relative;
  height: 620px;
  width: 75%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
}

.about {
  background-size: cover;
  background-image: url('../assets/img/about_us.jpg');
  background-position: -3px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

.overlay {
  background-color: #e9d66b59;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.active {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-position: -2450px;
  margin-bottom: 0;
}



/* ================  PHOTOS  =================*/
.camera_button {
  position: absolute;
  top: 318px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: #E9D66B;
  top: 60%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
}

.flash {
  display: none;
  background: yellow;
  height: 1690px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  position: absolute;
  top: 461px;
  font-size: 45px;
  width: 100%;
  text-align: center;
}

#pictures, #pictures .canvas_holder {
  display: none;
}

#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
}

.gif_container {
  padding: 50px;
  width: 980px;
}

.gif_container .canvas_holder {
  width: 400px;
  margin: 66px 45px;
}

.gif_container .canvas_holder img {
  width: 400px;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  height: 1690px;
  top: 230px;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.photo img, .gif_show img {
  width: 75%;
}

.gif_show img {
  height: 620px
}

/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/
.submit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1690px;
  width: 100%;
  position: absolute;
  top: 230px;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  width: 100%;
}

.event_pics .button {
  display: none;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 845px;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
}

.event_pics .button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img:last-child {
  margin-bottom: 300px;
}
/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/

.slides {
    position: absolute !important;
    height: 1404px;
    width: 1080px;
    top: 230px;
    z-index: 0;
}

.slides img {
  width: 100%;
  height: 1404px;
}

.slides button {
  display: none !important;
}

.slick-slider {
  margin-bottom: 0px !important;
}

